body{
  font-size: 20px;
}


*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content
{
  position: relative;
  top:40px;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}

h1
{ font-weight: bold;
  font-size:2em;
  text-align: center;
}

#section1,#section2,#section3
{

  width: 30%;
  height: 250px;
  float: left;
  border: 4px solid black;
  margin: 15px;
}
#section1{
    background-color: orange;

}
#section2{
  background-color: cyan;
}
#section3{
  background-color: red;
}
#section1 h2,#section2 h2,#section3 h2
{ 
  border: 4px solid black;
  float: right;;
  color:white;
}

#section1 p,#section2 p,#section3 p
{
  clear: right;
  text-align: center;
  font-size: 21px;
  padding: 10px;
}

#section1 h2
{
  background-color: purple;
}
#section2 h2
{
  background-color: green;
}
#section3 h2
{
  background-color: violet;
}

@media (min-width:768px) and (max-width:991px)
{

  .content{
    width: 100%;

  }
  #section1,#section2
  {
    width: 45%;
    float: left;
    border: 2.5px solid black;
    margin: 2.5%;
  }
  #section3
  {
    width: 95%;
    border: 2.5px solid black;
    margin: 2.5%;
  }
}

@media (max-width:767px)
{
  #section1,#section2,#section3
  {
    width: 95%;
    border: 2.5px solid black;
    margin: 2.5%;
  }
}